<button
  type="button"
  class="back-button"
  [routerLink]="['/main']"
>
  <mat-icon>arrow_back</mat-icon>
  Voltar
</button>

<div class="container">

  <div class="header">

    <div class="header-top">

      <div>
        <h1>{{ title }}</h1>
        <p>{{ subtitle }}</p>
      </div>
      @if (showCreateButton) {
        <button
          class="create-button"
          [routerLink]="[createRoute]"
        >
          <mat-icon>add</mat-icon>
          Novo cadastro
        </button>
      }
    </div>
  </div>

  <div class="actions-container">
    <div class="search-container">
      <mat-icon>search</mat-icon>

      <input
        type="text"
        placeholder="Buscar..."
      >
    </div>

  </div>

  <div class="table-container">

    <table>

      <thead>

        <tr>

          <th *ngFor="let column of columns">
            {{ column.label }}
          </th>

          <th class="action-column"></th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let item of data">

          <td *ngFor="let column of columns">
            {{ item[column.key] }}
          </td>

          <td class="action-column">

            <button
              class="view-button"
              type="button"
              (click)="openView(item)"
            >
              <mat-icon>search</mat-icon>
            </button>

            <button
              class="edit-button"
              type="button"
              (click)="openEdit(item)"
            >
              <mat-icon>edit</mat-icon>
            </button>

            @if (showDelete) {
              <button
                class="delete-button"
                type="button"
                (click)="openDelete(item)"
                title="Excluir"
              >
                <mat-icon>delete</mat-icon>
              </button>
            }

          </td>
        </tr>
      </tbody>

    </table>
  </div>

</div>