.back-button {
  display: flex;
  align-items: center;
  gap: 6px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  margin-top: 60px;
  margin-left: 150px;
}

.jazigo-link {
  color: #1976d2;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}

.jazigo-link:hover {
  color: #0d47a1;
  text-decoration-style: solid;
}
